/*css for online help */
.sideNav-help {
    background-color: #000000 !important;
    height: 100vh;
    color: #ffffff;
}

.help-heading {
    border-radius: 48%;
    width: 18vh;
    height: 18vh;
    background-color: black;
    z-index: 0;
    font-size: 11px;
}

.sub-label {
    margin-top: 4%;
    margin-bottom: 6%;
}

.col-xs-3 {
    width: 33%;
}

.container-help {

    min-width: 100%;
    max-height: 100%
}

.imgDimension-help {
    height: 8vh;
    margin-left: 24%;
    margin-top: 26%;
}

.imgDimension-helpsys {
    height: 6vh;
    margin-left: 30%;
    margin-top: 14%;
}

/* from here*/
.rectangleBox {
    background: black;
    border-radius: 15px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 1%;
}

.rectangleBox-admin {
    width: 64%;
    height: 94px;
    background: black;
    border-radius: 15px;
    margin-left: 15%;
}

/*.your_col {
   
    border-right: 2px solid yellow;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    float: left;
}*/

.divImage {
    width: 8%;
    /*width of your image*/
    height: 60px;
    /*height of your image*/
    background-image: url('../Images/Image1.png');
    margin: 0;
    /* if you want no margin */
    padding: 0;
    background-repeat: no-repeat;
    align-content: center;
    margin-top: 22px;
    margin-left: 30px;
    float: left;
}

.hr {
    display: block;
    margin-top: 10em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px thick;
}

.hr-tools {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px thick;
}

/*.imgDimension-helpSub {
    height: 6vh;
    margin-left: -3%;
    margin-top: -10%;
}*/
/*.help-headingReport {
    border-radius: 48%;
    width: 13vh;
    height: 13vh;
    background-color: black;
    z-index: 0;
    font-size: 11px;
} */
.hr-define {
    display: block;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px thick;
}

/*.paragraph {
    padding-left:20%;
    padding-right:10%;
    padding-top:2%;
}*/
.imgDimension-icon {
    height: 7vh;
    margin-left: 23%;
    margin-top: 14%;
}

.parentText {
    color: white
}

.cursorpoint {
    cursor: pointer;
}

.listSize {
    margin-left: 25%;
    width: 56%;
}

.paginationSize {
    margin-left: 25%;
    width: 56%;
}

.sortAdjust {
    padding-left: 40%;
}

.exportAdjust {
    padding-left: 21%;
    margin-top: -95px;
}

.printAdjust {
    padding-left: 44%;
}

.passwordAdjust {
    padding-left: 41%;
    padding-top: 5%;
}

.addAdjust {
    padding-left: 44%;

}

.addDefineAdjust {
    padding-left: 37%;
    height: 370px;
}

.filterAdjust {
    padding-left: 27%;
    margin-top: -212px;
}

.editUserAdjust {
    padding-left: 27%;
    margin-top: -24%;
}

.editWindowAdjust {
    padding-left: 0%;
}

.editparaAdjust {
    padding-left: 20%;
    padding-right: 10%;
    margin-top: -7%;
}

.labelAdjust {
    font-size: 30px;
    font-weight: bold;
    text-underline-position: below;
    margin-left: 340px;
}

.colAdjust {
    margin-left: 329px;
    margin-top: 13px;
}

.adjustRow1 {
    float: left;
}

.adjustRow2 {
    float: right;
    margin-right: 28px;
}

.gapWidth {
    width: 42.3%;
}

.addSecureButton {
    padding-left: 45%;
}

.addSecurePop {
    padding-left: 35%;
    height: 370px;
}

.editPara1 {
    padding-left: 18%;
    padding-right: 10%;
    padding-top: 2%
}

.editPara2 {
    padding-left: 18%;
    padding-right: 10%;
    margin-top: -13%;
}

.imageSetting {
    padding-left: 270px;
}

.viewDevice {
    padding-left: 7%;
    margin-top: -12%;
}

.rowAdj1 {
    width: 48.7%;
    float: left;
}

.rowAdj2 {
    width: 44.2%;
}

.filterAdj1 {
    padding-left: 430px;
}

.filterAdj2 {
    padding-left: 33%;
}

.rowAdj3 {
    width: 48.4%;
    float: left;
}

.rowAdj4 {
    width: 42.2%;
    float: left;
}

.rowAdj5 {
    width: 44.2%;
}

.editAdj {
    padding-left: 5%;
}

.rowAdj6 {
    width: 47.1%;
}

.rowAdj7 {
    width: 44.4%;
    float: left;
}

.viewGrp {
    padding-left: 3%;
}

.ungroupAdj {
    padding-left: 5%;
}

.groupDev1 {
    padding-left: 25%;
    padding-top: 0%;
}

.groupDev2 {
    padding-left: 40%;
    padding-top: 3%;
}

.groupDev3 {
    padding-left: 1%;
    padding-top: 1%;
}

.rowAdj8 {
    width: 44%;
    float: left;
}

.rowAdj9 {
    width: 45.4%;
}

.rowAdj10 {
    width: 53.5%;
    float: left;
}

.filterAdjust1 {
    padding-left: 44%;
    padding-top: 1%;
}

.filterAdjust2 {
    padding-left: 44%;
    padding-top: 1%;
}

.filterAdjust3 {
    padding-left: 44%;
    padding-top: 1%;
}

.filterAdjust4 {
    padding-left: 450px;
}

.filterAdjust5 {
    padding-left: 450px;
}

.filterAdjust6 {
    padding-left: 396px;
}

.adjustHead {
    font-size: 30px;
    font-weight: bold;
    text-underline-position: below;
    margin-left: 35%;
}

/*.scrollAdjust{
    height:450px;
    overflow-y:scroll;
    width:98%;
}*/
/*-----------------------------------*/
.marginAdjust {
    margin-bottom: 15%;
}

.labelReport {
    font-size: 30px;
    color: white;
    padding-top: 4%;
    padding-left: 31%;
}

.colAdj {
    padding-left: 70px;
    padding-top: 2%;
}

.adjustCol {
    margin-left: 2%;
}

.space {
    margin-top: 0%;
}







/*-------------------------------------------*/

@media screen and (min-width: 1900px) and (max-width: 2560px) and (min-height: 800px) and (max-height: 1440px) {
    .listSize {
        width: 56%;
        height: 3%;
        margin-left: 25%;
    }

    .paginationSize {
        width: 56%;
        height: 3%;
        margin-left: 25%;
    }

    /*.imgDimension-helpSub {
    height: 6vh;
    margin-left: 27%;
    margin-top: -13%;
}*/
    .labelReport {
        font-size: 30px;
        color: white;
        padding-top: 2%;
        padding-left: 33%;
    }

    .adjustCol {
        margin-left: 7%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1999px) and (min-height: 500px) and (max-height: 1000px) {
    .listSize {
        width: 56%;
        height: 3%;
        margin-left: 25%;
    }

    .paginationSize {
        width: 56%;
        height: 3%;
        margin-left: 25%;
    }

    .marginAdjust {
        margin-bottom: 8%;
    }

    /*.rectangleBox {
    width: 64%;
    height: 94px;
    background: black;
    border-radius: 15px;
    margin-left: 18%;
}*/
    .colAdj {
        padding-left: 70px;
        padding-top: 0%;
    }

    .adjustCol {
        margin-left: 4%;
    }
}

/*===============New class==================*/

.imgDimension-helpSub {
    height: 7vh;
    margin-left: 34%;
    margin-top: 1%;
}

.your_col {
    border-right: 2px solid #ffdd00;
    width: 24%;
    /*height: 15vh;*/
}

.labelStyle {
    color: white;
    font-size: 2em;
    text-align: center;
    margin-top: 1.2vh;
}

.scrollAdjust {
    height: 450px;
    overflow-y: auto;
    /* width: 100% */
}

.scrollHeightOneRow{
    height: 83vh;
}

.scrollHeightThreeRow{
    height: 76vh;
}

.scrollHeightFourRow{
    height: 72vh;
}

.scrollHeightFiveRow{
    height: 68vh;
}

.paragraph {
    width: 56%;
    margin-left: 22%;
    text-align: left;
}

/*.help-headingReport {
    background-color:black;
    width:10vw;
    height:12vh;
} */
.help-imgReport {
    margin-top: 10%;
    /*width:8vw;
    height:12vh;*/
}
.content.help-page-container{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 0;
}