<div class="row">
    <a class="btn btn-default pull-right" ng-click="dynamicPopover.close()" style="margin-top: -1vh; border:0px;">
        <span class="glyphicon glyphicon-remove"></span>
    </a>
</div>
<div class="row well well-sm">
    <strong>Select Users</strong>
</div>
<div ng-repeat="chk in userCheckbox">
    <input type="checkbox" ng-model="chk.isSelected" ng-click="errorUpdate()" />
    {{chk.label}}
</div><br />
<div class="row well well-sm">
    <strong>Select Date Range</strong>
</div>
<div class="row">
    <h5 class="start_Date_Time"><strong>Start Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="startingDate"
                ng-change="setFromDate(startingDate)" is-open="popup1.opened" datepicker-options="dateOptions"
                ng-required="true" close-text="Close" show-button-bar="false" readonly="readonly" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="startingDate" ng-change="setStartTime(startingDate)" hour-step="hstep"
            minute-step="mstep" show-meridian="ismeridian" class="timepicker demandTime"></uib-timepicker>
    </div>
</div>
<div class="row">
    <h5 class="end_Date_Time"><strong>End Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="endingDate"
                ng-change="setToDate(endingDate)" is-open="popup2.opened" datepicker-options="dateOptions"
                ng-required="true" close-text="Close" show-button-bar="false" readonly="readonly" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="endingDate" ng-change="setToTime(endingDate)" hour-step="hstep" minute-step="mstep"
            show-meridian="ismeridian" class="timepicker demandTime"></uib-timepicker>
    </div>
</div>
<div ng-if="invalidDate">
    <span style="color:red">*End date should be greater than Start date</span><br />
</div>
<div ng-if="invalidTime">
    <span style="color:red">*End time should be greater than Start time</span><br />
</div>
<div ng-if="properDateTime">
    <span style="color:red">*select valid date and time</span>
</div>
<div ng-if="trueFlag.length===0" class="ng-scope" style="">
    <span style="color:red">*Please select at least one User </span>
</div>
<div ng-if="invalidSelection">
    <span style="color:red">*Please select atleast one of the User</span>
</div>
<div class="row">
    <button type="submit" class="btn btn-default btnColor hyperSproutCreateReport" ng-click="auditLogFilter()"
        ng-disabled="(invalidDate || invalidTime || properDateTime || invalidSelection) == true || trueFlag.length===0">Filter</button>
</div>