<div class="modal-header">
	<h4 class="modal-title"><strong>Change Password</strong></h4>
	<!--<h4 class="modal-title" ng-hide="addSecurityGroup"><strong>Edit Security Group</strong></h4>-->
</div>
<div class="container-fluid modalBackground">
	<div class="modal-body">
		<form name="changePassWordForm" novalidate>
			<div class="table modalTableBorder">
				<div class="row">
					<div class="col-md-5 col-lg-5">
						<h5><strong>User Id:</strong><i class="fa fa-asterisk mandatory"></i></h5>
					</div>
					<div class="col-md-7 col-lg-7">
						<input type="text" class="form-control userSettingsInput" ng-model="changePass.userId"
							name="userId" data-ng-maxlength="40" maxlength="40" required ng-disabled="true" />
						<span data-ng-show="changePassWordForm.userId.$dirty && changePassWordForm.userId.$invalid"
							class="help">
							<span data-ng-show="changePassWordForm.userId.$error.required" class="userSettingsErrMsg">*
								User Id is required</span>
						</span><br />
						<span data-ng-show="!changePassWordForm.userId.$error.required" ><div
							data-ng-if="(userId!==changePass.userId)&&type==1" class="userSettingsErrMsg">* User Id is
							Incorrect</div>
					</span>
				</div>
			</div>
			<div class="row" style="margin-bottom:20px">
				<div class="col-md-5 col-lg-5">
					<h5><strong>Old Password:</strong><i class="fa fa-asterisk mandatory"></i></h5>
				</div>
				<div class="col-md-7 col-lg-7">
					<input type="password" class="form-control userSettingsInput" ng-model="changePass.oldPswd"
						name="oldPswd" ng-blur="validatePassword('oldPassword')" ng-change="validatePassword('oldPassword')"
						  disallow-space autocomplete="off" required />

					<div ng-messages="changePassWordForm.oldPswd.$error" ng-if='changePassWordForm.oldPswd.$dirty' ng-cloak>
					</div>
					<span ng-show="errorOldPassword" style="color:red;">{{errorOldPasswordMessage}}</span>
					<br>
				</div>
			</div>
			<div class="row" style="margin-bottom:20px">
				<div class="col-md-5 col-lg-5">
					<h5><strong>New Password:</strong><i class="fa fa-asterisk mandatory"></i></h5>
				</div>
				<div class="col-md-7 col-lg-7">
					<input type="password" class="form-control userSettingsInput" ng-model="changePass.newPswd"
						name="newPswd" ng-blur="validatePassword('newPassword')" ng-change="validatePassword('newPassword')" maxlength="10" disallow-space required />

					<div ng-messages="changePassWordForm.newPswd.$error" ng-if='changePassWordForm.newPswd.$dirty' ng-cloak>
					</div>
					<span ng-show="errorNewPassword" style="color:red;">{{errorNewPasswordMessage}}</span>

				</div>
			</div>
			<div class="row" style="margin-bottom:20px">
				<div class="col-md-5 col-lg-5">
					<h5><strong>New Password Confirmation:</strong><i class="fa fa-asterisk mandatory"></i>
					</h5>
				</div>
				<div class="col-md-7 col-lg-7">
<!--					{{changePass.newPswdConf}}, {{changePass.newPswd}}-->
					<input type="password" class="form-control userSettingsInput" ng-model="changePass.newPswdConf"
						name="newPswdConf" ng-blur="validatePassword('newConfirmPassword')" ng-change="validatePassword('newConfirmPassword')" maxlength="10" disallow-space required />

					<div ng-messages="changePassWordForm.newPswdConf.$error" ng-if='changePassWordForm.newPswdConf.$dirty' ng-cloak>
					</div>
					<span ng-show="errorNewConfirmPassword" style="color:red;">{{errorNewConfirmPasswordMessage}}</span>
					<br>
				</div>
			</div>
	</div>
	</form>
</div>
</div>

<div class='modal-footer' ng-if="type==1">
	<button type="button" class="btn btn-default btnColor" ng-click="Save()"
			ng-disabled="!changePassWordForm.oldPswd.$valid || !changePassWordForm.newPswd.$valid || !changePassWordForm.newPswdConf.$valid">OK</button>
	<button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Cancel</button>
</div>
<div class='modal-footer' ng-if="type==2">
	<button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Cancel</button>
	<button type="button" class="btn btn-default btnColor" ng-click="Save()"
		ng-disabled="!changePassWordForm.oldPswd.$valid || !changePassWordForm.newPswd.$valid || !changePassWordForm.newPswdConf.$valid">Change
		Password</button>
</div>
