<div class="container-fluid" id="transformerCreationOTPDiv" >
    <section>
        <div class="row circuit">
            <h4><strong>OTP</strong></h4>
        </div>
    </section>
    <form class="pure-form pure-form-aligned" name="transformerCreation" method="post" novalidate autocomplete="off">

        <section>
            <div style="text-align:center;">
                <h3>Please enter the One-Time Password to verify account</h3>
                <p>A One-Time Password has been sent to Registered Mobile Number</p>
                <p><input name="otp" type="text" minlength="4" maxlength="4"
                    onkeypress="return (event.charCode >= 48 && event.charCode <= 57)"
                     ng-model="otp" class="form-control input-width" style="margin:auto;" required></p>                
            </div>
        </section>
    </form>
    <section>
        <div class="row">
            <div class="btnRow">
                <span>
                    <button type="button" class="btn btn-default btnColor" id="otp-validation"
                    ng-click="otpValidation(otp)"
                        ng-disabled="!otp" >
                        Validate
                    </button>
                    <button type="button" class="btn btn-default btnDefault" ng-click="cancelOtp()">Cancel</button>
                </span>
            </div>
        </div>
    </section>

</div>