<div class="modal-header">
    <h4 class="modal-title"><b>Endpoint Details</b></h4>
    <button type="button" class="btn btn-xs btn-default rflan_modalCloseBtn pull-right" ng-click="cancel()"><span
            class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row" style="border: 1px solid gray;">
            <h4 style="border-bottom: 1px solid gray;"><b>Contact Attempts</b></h4>
            <div class="row">
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Cell ID</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover NetworkStatistics">
                        <tr>
                            <td>
                                <h5><strong>Last Updated Time</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Contact Attempt</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Successful</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Failed</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>% Successful</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
        <br />
        <div class="row" style="border: 1px solid gray;">
            <h4 style="border-bottom: 1px solid gray;"><strong>Network Statistics</strong></h4>
            <div class="row">
                <h4 style="margin-left: 2%;">Best Father Statistics</h4>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>average RSSI</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Level</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>MAC Address</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 style="margin-left: 2%;">Counts</h4>
                <div class="row" style="margin-left:0%">
                    <div class="col-lg-4">
                        <table class="table table-hover modalTableBorder">
                            <tr>
                                <td>
                                    <h5><strong># Registrations Failed</strong></h5>
                                </td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-hover modalTableBorder">
                            <tr>
                                <td>
                                    <h5><strong># Registrations Sent</strong></h5>
                                </td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-hover modalTableBorder">
                            <tr>
                                <td>
                                    <h5><strong>Downlink Packet count</strong></h5>
                                </td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row" style="margin-left:0%">
                    <div class="col-lg-4">
                        <table class="table table-hover modalTableBorder">
                            <tr>
                                <td>
                                    <h5><strong>Uplink Packet count</strong></h5>
                                </td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                        <table class="table table-hover modalTableBorder">
                            <tr>
                                <td>
                                    <h5><strong># RF LAN Fathers</strong></h5>
                                </td>
                                <td>{{}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <h4 style="margin-left: 2%;">RF-LAN</h4>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Level:</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Revision:</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-4">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <h5><strong>Version:</strong></h5>
                            </td>
                            <td>{{}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal-footer'>
    <button type="button" class="btn btn-default btnDefault" ng-model="cancel" ng-click="cancel()">Cancel</button>
</div>