<div class="row">
    <div class="well well-sm readOptions">
        <strong>Job Filter</strong>
        <a class="btn btn-default pull-right popoverClose" ng-click="dynamicPopover.close()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>

<div class="row jobfilteroption">
    <select-all-checkbox
            checkboxes="ListOfJobItems"
            all-selected="AllSelectedItems"
            all-clear="NoSelectedItems"
            class="demandReadCheckbox"
            ng-click="errorUpdate()">
    </select-all-checkbox>Show All Jobs

    <i ng-class="{'fa fa-chevron-down':ticked, 'fa fa-chevron-right':!ticked}" ng-click="toggle()"></i>

    <div ng-repeat="item in ListOfJobItems" style="margin-left:12%" ng-show="ticked">
        <input type="checkbox"
               ng-model="item.isSelected"
               ng-change="errorUpdate()"/>{{item.desc}}
    </div>


    <div ng-repeat="data in jobsObject">
        <input type="checkbox"
               ng-model="data.isSelected"
               class="demandReadCheckbox"
               ng-change="errorUpdate()"/>{{data.desc}}
    </div>
    <!--    <div>-->
    <!--        <input type="checkbox" ng-model="jobsObject.runningJobs" class="demandReadCheckbox" ng-change="errorUpdate()"/>Display Running Jobs<br/>-->
    <!--        <input type="checkbox" ng-model="jobsObject.historicalJobs" class="demandReadCheckbox" ng-change="errorUpdate()"/>Display Historical Jobs<br/>-->
    <!--    </div>-->

</div>
<div class="row">
    <h5 class="start_Date_Time"><strong>Start Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="startingDate"
                   ng-change="setFromDate(startingDate)" is-open="popup1.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" show-button-bar="false" readonly="readonly"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="startingDate" ng-change="setStartTime(startingDate)" hour-step="hstep"
                        minute-step="mstep" show-meridian="ismeridian" class="timepicker demandTime"></uib-timepicker>
    </div>
</div>
<div class="row">
    <h5 class="end_Date_Time"><strong>End Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup
                   ng-model="endingDate"
                   ng-change="setToDate(endingDate)"
                   is-open="popup2.opened"
                   datepicker-options="dateOptions"
                   ng-required="true"
                   close-text="Close"
                   show-button-bar="false"
                   readonly="readonly"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="endingDate"
                        ng-change="setToTime(endingDate)"
                        hour-step="hstep"
                        minute-step="mstep"
                        show-meridian="ismeridian"
                        class="timepicker demandTime">

        </uib-timepicker>
    </div>
</div>
<div ng-if="invalidDate">
    <span style="color:red">*End date should be greater than Start date</span><br/>
</div>
<div ng-if="invalidTime">
    <span style="color:red">*End time should be greater than Start time</span><br/><br/>
</div>
<div ng-if="properDateTime">
    <span style="color:red">*Select valid date and time</span></br>
</div>
<div ng-if="invalidSelection">
    <span style="color:red">*Please select atleast one of the job</span>
</div>
<div class="row">
    <button type="submit" class="btn btn-default btnColor hyperSproutCreateReport" ng-click="submitFilterConfig()"
            ng-disabled="(invalidDate || invalidTime || properDateTime || invalidSelection) == true">Filter
    </button>
</div>
