<div class="container-fluid tab-form-wrapper py-0 px-15" id="readlogsverbosity">
    <h4><strong>Logs verbosity</strong></h4>

    <form class="pure-form pure-form-aligned" name="logsVerbosity" method="post" novalidate autocomplete="off">

        <div class="log-option-blk text-center">
            <div class="input-wrap wd-100">
                <div class="radio-wrap">
                    <input type="radio" id="info" value="3" ng-model="verbosity">
                    <label for="info">Info</label>
                </div>
                <div class="radio-wrap">
                    <input type="radio" id="error" value="1" ng-model="verbosity">
                    <label for="error">Error</label>
                </div>
                <div class="radio-wrap">
                    <input type="radio" id="warn" value="2" ng-model="verbosity">
                    <label for="warn">Warning</label>
                </div>
                <div class="radio-wrap">
                    <input type="radio" id="debug" value="4" ng-model="verbosity">
                    <label for="debug">Debug</label>
                </div>
            </div>
            <p class="text-center" style="margin-top: 23px">{{verbosityLevel}}</p>
        </div>
    </form>
        <div class="row">
            <div class="popupbtn-blk text-center">
            <button type="button" class="btn btn-default btnColor" ng-click="saveVerbosityDetails()" ng-disabled="btnDisable">Save</button>
            <button type="button" class="btn btn-default btnColor" ng-click="cancelModalWindow()">Cancel</button>
            </div>
        </div>
</div>
