<div class="modal-header">
    <h4 class="modal-title"><strong>Endpoint Details</strong></h4>
    <button type="button" class="btn btn-xs btn-default rflan_modalCloseBtn pull-right" ng-click="cancel()"><span
            class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row" style="border: 1px solid gray;">
            <div class="col-md-6">
                <table class="table table-hover modalTableBorder">
                    <tr>
                        <td><strong>Serial Number:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Server Name:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>ApTitle:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Native Address:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Installation Time:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Comm Module:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Endpoint Register:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Current TOU Season:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Pending TOU Season:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-default btnColor" ng-click="">Node Ping</button></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table class="table table-hover modalTableBorder">
                    <tr>
                        <td><strong>Electronic Serial Number:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Relay:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Device Class:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Configuration Group:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Read Time:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>HAN Module:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td><strong>Start Date:</strong></td>
                        <td>{{}}</td>
                    </tr>
                    <tr>
                        <td><strong>Start Date:</strong></td>
                        <td>{{}}</td>
                    </tr>
                </table>
            </div>
        </div><br />
        <div class="row" style="border: 1px solid gray;">
            <h4 style="border-bottom: 1px solid gray;"><strong>HAN Devices</strong></h4>
            <table class="table table-hover modalTableBorder">
                <tr>
                    <th>Serial Number:</th>
                    <th>MAC Address:</th>
                    <th>Last Modified Time:</th>
                </tr>
                <tr></tr>
            </table>
        </div><br />
        <div class="row">
            <div class="col-md-6">
                <div class="row" style="border: 1px solid gray;">
                    <h4 style="border-bottom: 1px solid gray;"><strong>HAN Devices</strong></h4>
                    <h6>No Endpoints to Display</h6>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row" style="border: 1px solid gray;">
                    <h4 style="border-bottom: 1px solid gray;"><strong>HAN Devices</strong></h4>
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <th>SNO.</th>
                            <th>Groups</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>6356352</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>