<div class="container-fluid">
    <div class="row">
        <form name="transDetails_form" novalidate>
            <div class="col-md-12">
                <table class="table table-hover modalTableBorder">
                    <tr>
                        <td>
                            <label>Transformer Serial Number </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.transformerSl"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Make </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.make"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Version </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.hypersproutVersion"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Rating/Capacity (kVA) </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.kvaRating"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Type </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.type"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>High Line Voltage (V) </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.highLineV"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Low Line Voltage (V) </label>

                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.lowLineV"></span></label>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>High Line Current (A) </label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.highLineCurrent"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Low Line Current (A)</label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.lowLineCurrent"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Connected Street Lights</label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.ConnectedStreetlights"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Street Light Usage Per Day(Kw)</label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.StreetlightUsage"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>No of Connected Street Lights</label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.NoOfConnectedStreetlights"></span></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Wire Size (mm)</label>
                        </td>
                        <td>
                            <label><span ng-bind="transfomerdetails.WireSize"></span></label>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>