<div class="row">
    <div class="well well-sm readOptions">
        <strong>Job Filter</strong>
        <a class="btn btn-default pull-right popoverClose" ng-click="dynamicPopover.close()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
    </div>
</div>
<div class="row jobfilteroption">
    <select-all-checkbox checkboxes="ListOfItems" all-selected="AllSelectedItems" all-clear="NoSelectedItems"
        class="demandReadCheckbox" ng-click="jobs()"></select-all-checkbox> Show All Job Statuses
    <div ng-repeat="item in ListOfItems" style="margin-left:12%">
        <input type="checkbox" ng-model="item.isSelected" ng-change="jobs()" />{{item.desc}}
    </div>
    <select-all-checkbox checkboxes="ListOfJobs" all-selected="AllSelectedJobs" all-clear="NoSelectedJobs"
        class="demandReadCheckbox" ng-click="jobs()"></select-all-checkbox>Show Selected Jobs
    <div ng-repeat="job in ListOfJobs" style="margin-left:12%">
        <input type="checkbox" ng-model="job.isSelected" ng-change="jobs()" />{{job.desc}}
    </div>
</div>
<div class="row">
    <h5 class="start_Date_Time"><strong>Start Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="startingDate"
                ng-change="setFromDate(startingDate)" is-open="popup1.opened" datepicker-options="dateOptions"
                ng-required="true" close-text="Close" show-button-bar="false" readonly="readonly" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open1()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="startingDate" ng-change="setStartTime(startingDate)" hour-step="hstep"
            minute-step="mstep" show-meridian="ismeridian" class="timepicker demandTime"></uib-timepicker>
    </div>
</div>
<div class="row">
    <h5 class="end_Date_Time"><strong>End Date Time</strong></h5>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="input-group dateFilterPos">
            <input type="text" class="form-control" uib-datepicker-popup ng-model="endingDate"
                ng-change="setToDate(endingDate)" is-open="popup2.opened" datepicker-options="dateOptions"
                ng-required="true" close-text="Close" show-button-bar="false" readonly="readonly" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default " ng-click="open2()">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <uib-timepicker ng-model="endingDate" ng-change="setToTime(endingDate)" hour-step="hstep" minute-step="mstep"
            show-meridian="ismeridian" class="timepicker demandTime"></uib-timepicker>
    </div>
</div>

<div ng-if="invalidDate">
    <span style="color:red">*End date should be greater than Start date</span><br />
</div>
<div ng-if="invalidTime">
    <span style="color:red">*End time should be greater than Start time</span><br /><br />
</div>
<div ng-if="properDateTime">
    <span style="color:red">*Select valid date and time</span></br>
</div>
<div ng-if="(invalidSelection == true || invalidSelectionInallJobs == true)">
    <span style="color:red">*Please select the jobs </span></br>
</div>
<div ng-if="allJobs">
    <span style="color:red">*Please select least one from the show all jobs</span><br />
</div>
<div ng-if="selectedJobs">
    <span style="color:red">*Please select least one from the show selected jobs </span>
</div>
<div class="row createReport_row">
    <button type="button" name="filterConfig" ng-model="filterConfig"
        ng-click="jobStatusMeterOrHyperSproutFilterConfig()" class="btn btn-default btnColor createReport" ng-disabled="(invalidDate || invalidTime || properDateTime || invalidSelection  || invalidSelectionInallJobs ||
     allJobs || selectedJobs) == true">Filter Configurations</button>
</div>