<div class="modal-header">
    <h3 class="modal-title">HyperSPROUT&trade; Details</h3>
    <button type="button" class="btn btn-xs btn-default modalCloseBtn pull-right" ng-click="cancel()"><span
            class="glyphicon glyphicon-remove"></span></button>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row">
            <table class="table table-hover modalTableBorder">
                <tr>
                    <td>
                        <h5><b>Serial Number:</b></h5>
                    </td>
                    <td>15453</td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Native Address:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>ApTitle:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Load:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Installation Time:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Electronic Serial Number:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Hardware Version:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Device Class:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <h5><b>Server Name:</b></h5>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a href="" name="nodePing" class="pull-right">Node Ping</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class='modal-footer'>
    <button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Cancel</button>
</div>