<div class="modal-header">
    <h4 class="modal-title"><strong>Password Settings</strong></h4>
</div>
<div class="container-fluid modalBackground">
    <div class="modal-body">
        <div class="row">
            <form name="passwordSettingsForm" novalidate>
                <table class="table table-hover modalTableBorder">
                    <tr>
                        <td>
                            <h5><strong>Enable Password Policy:</strong></h5>
                        </td>
                        <td>
                            <input type="checkbox" ng-model="passwordPolicy" ng-checked="passwordPolicyCheck" />
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <h5><strong>Minimum Password Age:</strong><i class="fa fa-asterisk mandatory"></i></h5>
                        </td>
                        <td>
                            <input type="number" name="minPasswordAge" ng-model="minPasswordAge" min=0 oninput="validity.valid||(value='');" required />
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <h5><strong>Maximum Password Age (days):</strong><i class="fa fa-asterisk mandatory"></i></h5>
                            <span class="errorTextMessage" ng-show="passwordSettingsForm.maxPasswordAge.$error.required && (passwordSettingsForm.maxPasswordAge.$touched || passwordSettingsForm.maxPasswordAge.$dirty)">
                                Maximum Password Age is required!</span>
                            <span  class="errorTextMessage" ng-show="passValidation.maxPasswordAge && !passwordSettingsForm.maxPasswordAge.$error.required && !passwordSettingsForm.maxPasswordAge.$error.pattern"> 
                                Maximum Password Age range should be in between 10-999!</span>
                            <span class="errorTextMessage" ng-show="!passwordSettingsForm.maxPasswordAge.$error.required && passwordSettingsForm.maxPasswordAge.$error.pattern">
                                Invalid Maximum Password Age!</span>
                        </td>
                        <td>
                            <input type="text" name="maxPasswordAge" ng-blur="check($event,'maxPasswordAge')"
                            ng-change="check($event,'maxPasswordAge')" numbers-only ng-model="maxPasswordAge" required ng-disabled="!passwordPolicy" ng-pattern="/^[0-9]+$/" maxlength="3"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><strong>No. of Passwords to Store:</strong><i class="fa fa-asterisk mandatory"></i></h5>
                            <span class="errorTextMessage" ng-show="passwordSettingsForm.passwordsToStore.$error.required && (passwordSettingsForm.passwordsToStore.$touched || passwordSettingsForm.passwordsToStore.$dirty)">
                                Passwords to Store is required!</span>
                            <span  class="errorTextMessage" ng-show="passValidation.passwordsToStore && !passwordSettingsForm.passwordsToStore.$error.required && !passwordSettingsForm.passwordsToStore.$error.pattern"> 
                                Passwords to Store range should be in between 1-10!</span>
                            <span class="errorTextMessage" ng-show="!passwordSettingsForm.passwordsToStore.$error.required && passwordSettingsForm.passwordsToStore.$error.pattern">
                                Invalid Passwords to Store!</span>
                        </td>
                        <td>
                            <input type="text" numbers-only name="passwordsToStore" ng-change="check($event,'passwordsToStore')"
                                ng-blur="check($event,'passwordsToStore')" ng-model="passwordsToStore" required ng-disabled="!passwordPolicy" ng-pattern="/^[0-9]+$/" maxlength="2"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><strong>Maximum Logon Failures Before Lockout:</strong><i
                                    class="fa fa-asterisk mandatory"></i></h5>
                            <span class="errorTextMessage" ng-show="passwordSettingsForm.logonFailures.$error.required && (passwordSettingsForm.logonFailures.$touched || passwordSettingsForm.logonFailures.$dirty)">
                                Max. Logon Failures is required!</span>
                            <span  class="errorTextMessage" ng-show="passValidation.logonFailures && !passwordSettingsForm.logonFailures.$error.required && !passwordSettingsForm.logonFailures.$error.pattern"> 
                                Max. Logon Failures range should be in between 0-20!</span>
                            <span class="errorTextMessage" ng-show="!passwordSettingsForm.logonFailures.$error.required && passwordSettingsForm.logonFailures.$error.pattern">
                                Invalid Max. Logon Failures!</span>
                        </td>
                        <td>
                            <input type="text" name="logonFailures" ng-model="logonFailures" ng-change="check($event,'logonFailures')"
                                ng-blur="check($event,'logonFailures')" numbers-only required ng-disabled="!passwordPolicy" ng-pattern="/^[0-9]+$/" maxlength="2"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><strong>Lockout Duration (min):</strong><i class="fa fa-asterisk mandatory"></i></h5>
                            <span class="errorTextMessage" ng-show="passwordSettingsForm.lockoutDuration.$error.required && (passwordSettingsForm.lockoutDuration.$touched || passwordSettingsForm.lockoutDuration.$dirty)">
                                Lockout Duration is required!</span>
                            <span  class="errorTextMessage" ng-show="passValidation.lockoutDuration && !passwordSettingsForm.lockoutDuration.$error.required && !passwordSettingsForm.lockoutDuration.$error.pattern"> 
                                Lockout Duration range should be in between 1-999!</span>
                            <span class="errorTextMessage" ng-show="!passwordSettingsForm.lockoutDuration.$error.required && passwordSettingsForm.lockoutDuration.$error.pattern">
                                Invalid Lockout Duration!</span>
                        </td>
                        <td>
                            <input type="text" name="lockoutDuration" ng-model="lockoutDuration" ng-change="check($event,'lockoutDuration')"
                                ng-blur="check($event,'lockoutDuration')" numbers-only required ng-disabled="!passwordPolicy" ng-pattern="/^[0-9]+$/" maxlength="3" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5><strong>Minimum Password Length:</strong><i class="fa fa-asterisk mandatory"></i></h5>
                            <span class="errorTextMessage" ng-show="passwordSettingsForm.minPassLength.$error.required && (passwordSettingsForm.minPassLength.$touched || passwordSettingsForm.minPassLength.$dirty)">
                                Minimum Password Length is required!</span>
                            <span  class="errorTextMessage" ng-show="passValidation.minPassLength && !passwordSettingsForm.minPassLength.$error.required && !passwordSettingsForm.minPassLength.$error.pattern"> 
                                Minimum Password Length range should be in between 6-10!</span>
                            <span class="errorTextMessage" ng-show="!passwordSettingsForm.minPassLength.$error.required && passwordSettingsForm.minPassLength.$error.pattern">
                                Invalid Minimum Password Length!</span>
                        </td>
                        <td>
                            <input type="text" name="minPassLength" ng-model="minPassLength" ng-change="check($event,'minPassLength')"
                                ng-blur="check($event,'minPassLength')" numbers-only required ng-disabled="!passwordPolicy" ng-pattern="/^[0-9]+$/" maxlength="2" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<div class='modal-footer'>
    <button type="button" class="btn btn-default btnColor" ng-click="Save()"
        ng-disabled="passValidation.minPassLength||passValidation.logonFailures||passValidation.passwordsToStore||passValidation.lockoutDuration||passValidation.maxPasswordAge||passwordSettingsForm.$invalid||!passwordSettingsForm.$dirty">OK</button>
    <button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-default btnColor" ng-click="restoreDefaults(resetValues)">Restore
        Defaults</button>
</div>