<div>
    <ul class="nav navhome " click-outside="dynamicPopover.close()" style="background-color:black;">
        <li class="hoverList hoverColor">
            <a class="showItem configNav" ng-click="dynamicPopover.close()" ui-sref="master"
                href="#/master"><strong>Home</strong></a>
        </li>
        <li class="hoverList hoverColor">
            <a class="showItem configNav" href="" ng-click="redirectToSettings()"><strong> Settings</strong></a>
        </li>
        <li class="hoverList hoverColor">
            <a class="showItem configNav" href="" ng-click="open()"><strong>Help</strong></a>
        </li>
        <li class="hoverList">
            <a valign="bottom configNav" logout></a>
        </li>
    </ul>
</div>