<div id="header" ng-include="'pages/homePage_footer.html'"></div>
<div class="container-fluid" id="circuitRegistrationDiv">
    <div class="row rg-list">
        <h5>List of Distribution Transformer Circuits</h5>
    </div>
    <div class="row circuit-lable-bottom">
        <div class="pull-left">
            <div class="row">
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4 circuit-lable">
                    <input class="form-control" ng-model="searchtermInCircuitEntry" placeholder="Search by DTC ID" ng-change="searchButtonClear(searchtermInCircuitEntry)"
                        type="text"  />
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <button type="button" ng-click="searchButton(searchtermInCircuitEntry)" class="btn btn-default btnColor" ng-disabled="!searchtermInCircuitEntry">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="pull-right">

            <!-- <div class="col-lg-4">-->
            <button type="button" ng-click="create()" class="btn btn-default btnColor">
                Add
            </button>
            <!--  </div>-->
            <!--<div class="col-lg-4">-->

            <button type="button" ng-click="openUploadConfiguration()" class="btn btn-default btnColor">
                Upload
            </button>
            <!--</div>-->
            <!--<div class="col-lg-4">-->
            <button type="button" name="delete" ng-disabled="mySelectedRows.length==0"
                class="btn btn-default btnColor configSettings" ng-click="deleteSelectedCircuits()">
                Delete Selected
            </button><!-- ng-disabled="!isSelected"-->
            <!--  </div>-->

        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div ui-grid="configOptions" ui-grid-edit ui-grid-exporter ui-grid-pagination ui-grid-selection
                ui-grid-resize-columns ui-grid-filter-container class="grid">                
            </div>
            <div class="watermark" ng-show="!configOptions.data.length">
                {{commonMsg}}
            </div>
        </div>
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</div>