<div class="container-fluid">
    <div class="row">
        <h3 class="headingAlign">DataVINE&trade; Health</h3>
    </div>
    <div class="row">
        <div class="pull-left headingAlign" style="margin-top:1.5%">
            <a ng-click="printCart()">
                <img alt="#" src="../assets/images/Print.png" class="anchorText" />
                <strong class="anchorText">Print</strong>
            </a>
        </div>

        <div class="row">
            <input type="text" class="form-control searchBoxAdjust" style="margin-top: 0.8%" name="endPoints" ng-model="endPoints" type="search" ng-keyup="" ng-change="searchEndPoints(endPoints)"
                placeholder="Search by Serial Number" style="margin-top: 1vh" />
        </div>


        <div class="pull-right filterBtn" style="margin-top: -2.9%">

            <!--<button type="button" class="btn btn-default btnColor newAccountSettings" popover-append-to-body='false' ng-click="reset()"> 
                Reset 
                </button>-->


            <button type="button" class="btn btn-default btnColor demandReadSettings" popover-append-to-body='false' popover-animation='true'
                popover-placement='bottom' popover-is-open="dynamicPopover.isOpen" uib-popover-template='dynamicPopover.templateUrl'
                ng-click="today()">
                Filter
            </button>
        </div>

    </div>
    <div class="row">
        <div class="container-fluid" style="margin-top: 0.2vh" >
            <div ui-grid="dataVINEHealthOptions" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid"></div>
        </div>
    </div>
</div>