<div class="container-fluid">
    <div class="row">
        <h3 class="headingAlign" style="margin-left: 1.2%"> DeltaLINK&trade; </h3>
    </div>
    <div class="row">
        <table class="table-search-blk">
            <tr>
                <td>
                    <div class="row">
                        <input class=" form-control dvhealth-input" placeholder="Search by SN" type="text" ng-change="searchButtonClear(searchTerm)" ng-model="searchTerm">
                               <button type="button" ng-click="searchGrid(searchTerm)" class="btn btn-default btnColor" ng-disabled="!searchTerm">
                                Search
                        </button>
                    </div>
                </td>

                <div class="pull-right relayMeterFilterBtn" style="margin-top:1.5%">
                    <button type="button" class="btn btn-default btnColor demandReadSettings" popover-append-to-body='false' popover-animation='true'
                            popover-placement='bottom' popover-is-open="dynamicPopover.isOpen" uib-popover-template='dynamicPopover.templateUrl'
                            ng-click="today()">
                        Filter
                    </button>
                </div>
            </tr>
        </table>
    </div>

    <div class="row ">
        <div class="container-fluid" style="margin-top:-1vh">
            <div ui-grid="deltaLinkGrid" ui-grid-edit ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid"></div>
            <div class="watermark" ng-if="!deltaLinkGrid.data.length">{{commonMsg}}</div>
        </div>
    </div>
</div>
