<div class="container-fluid">
    <div class="row rg-list">
        <h5>List of Endpoints </h5>
    </div>
    <div class="row" style="margin-bottom:3px">
        <div class="pull-left">
            <div class="row transformer-lable">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                    <input ng-model="searchterm" class="form-control searchBox" placeholder="Search By Owner" type="search" ng-change="searchButtonClear(searchterm)" />
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <button type="button" ng-click="searchButton(searchterm)" class="btn btn-default btnColor"  ng-disabled="!searchterm">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="pull-right">

            <button type="button" ng-click="createOrEditEndPoint('add',{})"
                    class="btn btn-default btnColor">
                Add
            </button>
            &nbsp;
            <button type="button" ng-click="uploadEndpointDetails()"
                    class="btn btn-default btnColor">
                Upload
            </button>
            &nbsp;
            <button type="button" ng-disabled="mySelectedRows.length==0" ng-click="deleteEndPointDetails({},'bulk')"
                    class="btn btn-default btnColor configSettings">
                Delete Selected
            </button><!--ng-disabled="!isSelected"-->

        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div ui-grid="endpointRegOption" ui-grid-edit ui-grid-exporter ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns class="grid"></div>
                 <div class="watermark" ng-if="!endpointRegOption.data.length">{{commonMsg}}</div>
        </div>
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</div>