<div class="container-fluid">
    <div class="row">
        <h3 class="headingAlign" style="margin-left:15px">HyperSPROUT&trade; Firmware Group Management</h3>
    </div> 
    <div class="row">
        <div class="pull-right">
            <button type="button" ng-click="openCreateApplicationGroup()" class="btn btn-default btnColor ">
                New
            </button>&nbsp;
            <button type="button" ng-click="openAssignEndpoint()" class="btn btn-default btnColor configSettings">Assign Firmware Group Management</button>
        </div>
    </div>
    <div class="row">
        <div class="container-fluid">
            <div ui-grid="groupOptions" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid"></div>
            <div class="watermark" ng-if="!groupOptions.data.length">{{commonMsg}}</div>
        </div>
    </div>
</div>