<div class="container-fluid">

    <div class="row">
        <h3 class="headingAlign">{{title}}</h3>
    </div>

    <div class="row" style="margin-top:1%">
        <input type="text" class="form-control searchBoxAdjust" name="endpoint" ng-model="endpoint" type="search" ng-keyup="" ng-change="filterReportsData(endpoint)"
            placeholder="Search by Serial Number" />



        <div class="pull-right filterBtn " style="margin-top: 0.2%">



            <button type="button" class="btn btn-default btnColor demandReadSettings" popover-append-to-body='false' popover-animation='true'
                popover-placement='bottom' popover-is-open="dynamicPopover.isOpen" uib-popover-template='dynamicPopover.templateUrl'
                ng-click="today()">
                Filter
            </button>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid" style="margin-top: 0.2vh">
            <div ui-grid="commStatsOptions" ui-grid-exporter ui-grid-pagination ui-grid-resize-columns class="grid">               
            </div>
            <div class="watermark" ng-if="!commStatsOptions.data.length">{{commStatMsg}}</div>
        </div>

    </div>

</div>
