<div class="container-fluid">
    <div class="breadcrumb">
        <ul>
            <li><a ng-click="goToURL('Meter')">Meter Level </a></li>
            <!-- <li><a ng-click="goToPrevious({{ meterData.meterSl}})" >{{ meterData.meterSl}}</a></li> -->
            <li>DeltaLINK&trade; Level</li>
        </ul>
    </div>
    <div class="row rg-list">
        <h5>List of DeltaLINK&trade; </h5>
    </div>
    <div class="row" style="margin-bottom:3px">
        <div class="pull-left">
            <div class="row transformer-lable">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                    <input ng-model="searchterm" class="form-control searchBox" placeholder="Search" type="search"
                        ng-change="searchButtonClear(searchterm);" />
                </div>
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6" style="padding-left: 0;">
                    <button type="button" ng-click="searchGrid(searchterm)" class="btn btn-default btnColor" ng-disabled="!searchterm">
                     Search
                    </button>
                </div>
            </div>
        </div>
        <div class="pull-right">
            
            <button type="button" ng-click="openNewDeltalinkConfiguration()" id="findDeltalinkbutton"
                    class="btn btn-default btnColor">
                Find DeltaLINK&trade;
            </button>
            &nbsp;
            <button type="button" ng-click="removeSelectedDeltalink()"
                    class="btn btn-default btnColor configSettings">
                    Unlink DeltaLINK&trade;
            </button><!--ng-disabled="!isSelected"-->
        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div ui-grid="deltaLinkGrid" ui-grid-edit ui-grid-exporter ui-grid-pagination ui-grid-selection
                ui-grid-resize-columns class="grid"></div>
            <div class="watermark" ng-if="!deltaLinkGrid.data.length">{{commonMsg}}</div>
        </div>
    </div>
    <div class="container">
        <div ui-view></div>

    </div>
</div>