<div class="container-fluid">
    <div class="row rg-list">
        <h5>List of Meters </h5>
    </div>
    <div class="row" style="margin-bottom:3px">
        <div class="pull-left">
            <div class="row transformer-lable">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                    <select ng-model="searchMeterEntry" class="form-control" ng-change="searchGrid(searchterm)">
                        <option value="all">All</option>
                        <option value="tsn">Meter Serial Number</option>
                        <option value="hsn">Consumer Number</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <input ng-model="searchterm" class="form-control searchBox" placeholder="Search" type="search" ng-change="searchButtonClear(searchterm)" />
                   <!--div class="slinput" ng-init="">
                        <i class="fa fa-search left-icon"></i>
                        <input placeholder="Search" ng-model="searchterm" />
                        <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon' : true, active : (searchterm.length > 0)}" ng-click="searchterm = ''"></i>
                    </div>-->
                </div>
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <button type="button" ng-click="searchButton(searchterm)" class="btn btn-default btnColor" ng-disabled="!searchterm">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="pull-right">

            <button type="button" ng-click="create()"
                    class="btn btn-default btnColor">
                Add
            </button>
            &nbsp;
            <button type="button" ng-click="openUploadMeterConfiguration()"
                    class="btn btn-default btnColor">
                Upload
            </button>
            &nbsp;
            <button type="button" ng-click="uploadMeterConfiguration()"
            class="btn btn-default btnColor">
                Upload Config
            </button>
            &nbsp;
            <button type="button" ng-disabled="mySelectedRows.length==0" ng-click="deleteSelectedMeters()"
                    class="btn btn-default btnColor configSettings">
                Delete Selected
            </button><!--ng-disabled="!isSelected"-->

        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div ui-grid="meterGrid" ui-grid-edit ui-grid-exporter ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns class="grid"></div>
            <div class="watermark" ng-if="!meterGrid.data.length">{{commonMsg}}</div>
        </div>
        <div class="container">
            <div ui-view></div>
        </div>
    </div>
</div>