<div class="row">
	<h3 class="headingAlign" style="margin-left:15px">Tag Discrepencies</h3>
</div>
<div class="row">
	<div class="pull-left print-buttonalign">
		<a ng-click="printCart()"><img alt="#" src="../assets/images/Print.png" class="anchorText" /><strong class="anchorText">Print</strong></a>
	</div>
	<div class="pull-right tagsFilterBtn">
		<button type="button" class="btn btn-default btnColor tagsFilter" popover-append-to-body='false' popover-animation='true'
			popover-placement='bottom' popover-is-open="dynamicPopover.isOpen" uib-popover-template='dynamicPopover.templateUrl' ng-click="today()">
                Filter
            </button>
	</div>
</div>
<div class="row">
	<div class="container-fluid">
		<div ui-grid="tagOptions" ui-grid-resize-columns ui-grid-pagination ui-grid-exporter class="grid"></div>
	</div>
</div>