<div class="container-fluid" id="unassignedTransformerListDiv">
    <div class="row ">
        <button type="button" class="btn btn-default bk-button" ng-click="goToUnassignedTransformers()" style="margin-bottom: -1.7%;">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back
        </button>
        <hr />
        <div class="circuitName listadjust">
            <h5>Unassigned Transformers List</h5>
        </div>
    </div>

    <div class="row">
        <div class="pull-left gp-transformer-lable">
            <div class="row ">
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <select ng-model="searchUnassignedTransformers" class="form-control boxadjust"  ng-change="searchGrid(searchterm)">
                        <!-- <option value="all">All</option> -->
                        <option value="tsn">Transformer/HS Serial Number</option>
                        <option value="hsName">HyperSPROUT&trade; Name</option>
                        <option value="hv">Hardware Version</option>
                        <option value="mC">Number of Meters</option>
                    </select>
                </div>
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <input ng-model="searchterm" class="form-control searchBox" placeholder="Search"
                           type="search" ng-change="searchButtonClear(searchterm)">
                </div>
                <div class="col-xs-4 col-md-4 col-sm-4 col-lg-4">
                    <button type="button" ng-click="searchButton(searchterm)" class="btn btn-default btnColor" ng-disabled="!searchterm">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" ng-click="assignTransformersToCircuit()"
                    class="btn btn-default btnColor configSettings">
                Assign Selected Transformers
            </button><!--ng-disabled="!isSelected"-->

        </div>
    </div>

    <div class="row">
        <div class="container-fluid">
            <div ui-grid="unassignedTransformerGrid" ui-grid-edit ui-grid-exporter ui-grid-pagination
                 ui-grid-selection ui-grid-resize-columns ui-grid-filter-container class="grid">
                <div class="watermark" ng-show="!unassignedTransformerGrid.data.length">
                    {{datagridMessage}}
                </div>
            </div>
        </div>
        <div class="container">
            <div ui-view></div>
        </div>
    </div>


</div>