<div class="container-fluid">
    <div class="row">
        <div>
            <a href='' class="imageBorder" style="margin-left: 80%;" ng-click="printCart()"><img src="../assets/images/Print.png" /></a>
            <a href='' class="imageBorder" ng-click="pdf()"><img src="../assets/images/PDF.png" /><b class="anchorText">PDF</b>&nbsp;</a>
            <a href='' class="imageBorder" ng-click="excel()"><img src="../assets/images/Excel.png" /><b class="anchorText">Excel</b>&nbsp;</a>
        </div>
    </div>
    <hr />
    <div class="row">
        <form name="config_form" novalidate>
            <div class="col-md-6">
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['LinkFailure']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Link Failure</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['LinkMetric']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Link Metric</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['InterrogationSendSucceeded']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Interrogation Send Succeeded</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['SendResponseFailed']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Send Response Failed</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['DeregistrationResult']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Deregistration Result</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['ReceivedMessageFrom']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Received Message From</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['DataVineHyperSproutChange']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">DataVINE&trade; HyperSPROUT&trade; Change</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['DataVineSyncFatherChange']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">DataVINE&trade; Sync Father Change</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['ZigbeeSETunnelingMessage']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Zigbee SE Tunneling Message</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['ZigbeeSimpleMeteringMessage']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Zigbee Simple Metering Message</h5>
                </div>
                <div class="row">
                    <input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['TableSendRequestFailed']" />&nbsp;
                    <h5 style="margin-top: -4%; margin-left: 5%; font-weight: bold;">Table Send Request Failed</h5>
                </div>
            </div>
        </form>
    </div>
    <!--<div class='modal-footer'>
        <button type="button" class="btn btn-default btnColor" ng-click="Save()">Save</button>
        <button type="button" class="btn btn-default btnDefault" ng-click="cancel()">Cancel</button>
    </div>-->
</div>