<div class="container-fluid">
    <div class="row">
        <div>
            <a href='' class="imageBorder" style="margin-left: 80%;" ng-click="printCart()"><img src="../assets/images/Print.png" /></a>
            <a href='' class="imageBorder" ng-click="pdf()"><img src="../assets/images/PDF.png" /><b class="anchorText">PDF</b>&nbsp;</a>
            <a href='' class="imageBorder" ng-click="excel()"><img src="../assets/images/Excel.png" /><b class="anchorText">Excel</b>&nbsp;</a>
        </div>
    </div>
    <hr />
    <div class="modal-body">
        <div class="row">
            <form name="config_form" novalidate>
                <table class="table table-hover modalTableBorder">
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Lockout: Login attempts, optical:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['Loginattemptsoptical']}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Lockout: Logout minutes, optical:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['Logoutattemptsoptical']}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Lockout: Login attempts, lan:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['LoginattemptsIan']}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Lockout: Logout minutes, lan:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['LogoutattemptsIan']}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Consecutive LAN send messgae failure limit to cause features exceeded limit event to be logged:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['ConsecutiveLANmsgFailureLimit']}}</td>
                    </tr>
                    <tr>
                        <td>
                            <h5>
                                <strong>
                                    Lan Link Metric(quality) period in seconds:
                                    <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                                </strong>
                            </h5>
                        </td>
                        <td>{{configObj['ConfigGroups_Info']['LANLinkMetricQuality']}}</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <h5 style="color:red ; font-size:12px"><i class="fa fa-asterisk" style="font-size: 1vh; color: red; " aria-hidden="true"></i>All fields are mandatory</h5>
</div>