<div class="container-fluid">
    <div class="row">
        <div>
            <a href='' class="imageBorder" style="margin-left: 80%;" ng-click="printCart()"><img src="../assets/images/Print.png" /></a>
            <a href='' class="imageBorder" ng-click="pdf()"><img src="../assets/images/PDF.png" /><b class="anchorText">PDF</b>&nbsp;</a>
            <a href='' class="imageBorder" ng-click="excel()"><img src="../assets/images/Excel.png" /><b class="anchorText">Excel</b>&nbsp;</a>
        </div>
    </div>
    <hr />
    <div class="modal-body">
        <div class="row">
            <form name="config_form" novalidate>
                <div class="col-md-6">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <label>Quantity1</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['Quantity1']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Quantity2</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['Quantity2']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Quantity3</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['Quantity3']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Quantity4</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['Quantity4']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Interval Length</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['IntervalLength']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Outage Length (seconds)</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['OutageLength']}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-hover modalTableBorder">
                        <tr>
                            <td>
                                <label>Pulse Weight 1</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['PulseWeight1']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Pulse Weight 2</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['PulseWeight2']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Pulse Weight 3</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['PulseWeight3']}}</td>
                        </tr>
                        <tr>
                            <td>
                                <label>Pulse Weight 4</label>
                                <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                            </td>
                            <td>{{configObj['ConfigGroups_Info']['PulseWeight4']}}</td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <h5 style="color:red ; font-size:12px"><i class="fa fa-asterisk" style="font-size: 1vh; color: red; " aria-hidden="true"></i>All fields are mandatory</h5>
</div>