<div class="container-fluid">
    <div class="row">
        <div>
            <a href='' class="imageBorder" style="margin-left: 80%;" ng-click="printCart()"><img src="../assets/images/Print.png" /></a>
            <a href='' class="imageBorder" ng-click="pdf()"><img src="../assets/images/PDF.png" /><b class="anchorText">PDF</b>&nbsp;</a>
            <a href='' class="imageBorder" ng-click="excel()"><img src="../assets/images/Excel.png" /><b class="anchorText">Excel</b>&nbsp;</a>
        </div>
    </div>
    <hr class="editHr" />
    <div class="row">
        <!--<form name="voltMon" novalidate>-->
        <form name="config_form" novalidate>
            <table class="table table-hover table-bordered" style="border:1px solid #000000;">
                <tr>
                    <td>
                        <h5>
                            <b>Enable Voltage Monitor</b>
                            <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                        </h5>
                    </td>
                    <td><input type="checkbox" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['EnableVoltageMonitor']"
                        /></td>


                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>Phase Selection</b>
                            <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                        </h5>

                    </td>
                    <td>
                        <select class="form-control select-width" name="ps" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['PhaseSelection']" ng-options="v.value for v in phaseSelection_values track by v.id"
                            class="form-control select-width" required></select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>Interval Length</b>
                            <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                        </h5>

                    </td>
                    <td>
                        <select name="il" ng-disabled="true" ng-model="configObj['ConfigGroups_Info']['VoltageMointorIntervalLength']" ng-options="v.value for v in voltageIntervalLength_values track by v.id"
                            class="form-control select-width" required></select>

                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>RMS Volt Load Threshold(V)</b>
                            <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                        </h5>
                    </td>
                    <td>
                        <input class="form-control input-width" type="number" ng-disabled="true" name="vlt" ng-model="configObj['ConfigGroups_Info']['RMSVoltLoadThreshold']" class="modalTextbox"
                            min=0 oninput="validity.valid||(value='');" required />
                    </td>
                </tr>

                <tr>
                    <td>
                        <h5>
                            <b>RMS Volt High Threshold(V)</b>
                            <i class="fa fa-asterisk" style="font-size: 1vh; color: red; position: absolute; margin-top: 0%;" aria-hidden="true"></i>
                        </h5>
                    </td>

                    <td>
                        <input type="number" class="form-control input-width" ng-disabled="true" name="vht" ng-model="configObj['ConfigGroups_Info']['RMSVoltHighThreshold']" class="modalTextbox"
                            min=0 oninput="validity.valid||(value='');" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>Low Voltage Threshold</b>
                            <i class="fa fa-asterisk " style="font-size: 1vh; color: red; position: absolute; margin-top:
                            0%; " aria-hidden="true"></i>
                        </h5>
                    </td>


                    <td>
                        <input class="form-control input-width" type="number" ng-disabled="true" name="lvt" ng-model="configObj['ConfigGroups_Info']['LowVoltageThreshold']" class="modalTextbox"
                            min=0 oninput="validity.valid||(value='');" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>Low Voltage Threshold Deviation/ Interval(80-100%)</b>
                            <i class="fa fa-asterisk " style="font-size: 1vh; color: red; position: absolute; margin-top:
                            0%; " aria-hidden="true"></i>
                        </h5>
                    </td>


                    <td>
                        <input type="number" ng-disabled="true" name="lvtd" ng-model="configObj['ConfigGroups_Info']['LowVoltageThresholdDeviation']"
                            class="form-control input-width" max="100" min="80" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <b>High Voltage Threshold Deviation/ Interval(100-120%)</b>
                            <i class="fa fa-asterisk " style="font-size: 1vh; color: red; position: absolute; margin-top:0%;" aria-hidden="true"></i>
                        </h5>
                    </td>
                    <!--<td><input type="text" ng-model="configObj['ConfigGroups_Info']['HighVoltageThresholdDeviation']" class="modalTextbox" ng-minlength="99" minlength="100" ng-maxlength="119" maxlength="120"/></td>-->
                    <td>
                        <input type="number" ng-disabled="true" name="hvtd" ng-model="configObj['ConfigGroups_Info']['HighVoltageThresholdDeviation']"
                            class="form-control input-width" max="120" min="100" required />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <h5 style="color:red ; font-size:12px ">
        <i class="fa fa-asterisk" style="font-size: 1vh; color: red;" aria-hidden="true"></i>All fields are mandatory
    </h5>
    <!--<div class='modal-footer editModalFooter'>
        <button type="button" class="btn btn-default btnColor" ng-click="Save()"
                ng-disabled="
                voltMon.ps.$error.required ||
                voltMon.il.$error.required ||
                voltMon.vlt.$error.required ||
                voltMon.vht.$error.required ||
                voltMon.lvt.$error.required ||
                voltMon.lvtd.$error.required ||
                voltMon.hvtd.$error.required">
            Save
        </button>
        <button type="button" class="btn btn-default btnDefault " ng-click="cancel()">Cancel</button>
    </div>-->
</div>